# Don't commit the following directories created by pub
.idea
packages/
build/

# Or the files created by dart2js
*.dart.js
*.dart.precompiled.js
*.js_
*.js.deps
*.js.map
**/packages

# Include when developing application packages
pubspec.lock

# Other files not to commit
psd/